@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&display=swap");

* {
  font-family: "Edu TAS Beginner", cursive;
  background-color: lightgray;
}

.divs {
  line-height: 250%;
}

.SS,
h1 {
  color: lightslategray;
  background-color: white;
}

.AA {
  color: white;
  background-color: rgb(48, 131, 197);
}

.AS {
  color: white;
  background-color: rgb(37, 146, 208);
}

.AD {
  color: white;
  background-color: rgb(27, 157, 216);
}

.AF {
  color: white;
  background-color: rgb(53, 168, 223);
}

.AG {
  color: white;
  background-color: rgb(85, 182, 230);
}

.AH {
  color: white;
  background-color: rgb(111, 192, 236);
}
.AJ {
  color: white;
  background-color: rgb(139, 201, 238);
}

.AK {
  color: white;
  background-color: rgb(27, 181, 132);
}

.AL {
  color: white;
  background-color: rgb(245, 174, 206);
}

.AZ {
  color: white;
  background-color: rgb(244, 157, 194);
}

.AX {
  color: white;
  background-color: rgb(243, 142, 179);
}

.AC {
  color: white;
  background-color: rgb(241, 120, 165);
}

.AV {
  color: white;
  background-color: rgb(240, 105, 151);
}

.AB {
  color: white;
  background-color: rgb(240, 86, 138);
}

.AN {
  color: white;
  background-color: rgb(238, 49, 126);
}