* {

background-color: lightgray

}





.SS, h1 {
color:lightslategray ;
background-color:white;

}


.AA{
color:white ;
background-color: ;
}


.AS{

    color:white ;
    background-color: ;
}

.AD{

    color:white ;
    background-color: ;

}

.AF{


    color:white ;
    background-color: ;
}

.AG{
    color:white ;
    background-color: ;

}
 
.AH
{
    color:white ;
    background-color: ;


}
.AJ{
    color:white ;
    background-color: ;

}

.AK{

    color:white ;
    background-color: ;
}

.AL{

    color:white ;
    background-color: ;
}

.AZ{

    color:white ;
    background-color: ;
}

.AX{
    color:white ;
    background-color: ;

}

.AC{

    color:white ;
    background-color: ;
}

.AV{
    color:white ;
    background-color: ;

}

.AB{

    color:white ;
background-color: ;
}

.AN{

    color:white ;
background-color: ;
}